body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Calibri", sans-serif;
  font-size: 120%;
  background-color: #f6f6f6;
}

footer {
  display: flex;
  justify-content: space-around;
}

section {
  margin: 0 10px 0 20px;
}

.name-photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.photo {
  margin: 20px 0 0 0;
}

main > section:nth-child(even) {
  background-color: #ffe0b3;
}
